.right-center-panel-home {
  flex: 1;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.markdown-preview-home {
  overflow: auto;
  height: 100%;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .markdown-preview-home {
    max-height: 90%;
  }
  .right-center-panel-home {
    max-height: 50%;
  }
}

@media (min-width: 1920px) {
  .right-center-panel-home {
    max-height: 100%;
  }
}

@media (min-width: 2560px) {
  .right-center-panel-home {
    max-height: 100%;
  }
}

@media (min-width: 3840px) {
  .markdown-preview-home {
    max-height: 95%;
    font-size: 32px;
  }
}

@media (min-width: 7680px) {
  .markdown-preview-home {
    max-height: 95%;
    font-size: 4rem;
    padding: 2rem !important;
  }
  .right-center-panel-home {
    max-height: 100%;
  }
}
